// colores

// body
$fondo-body: rgb(117, 116, 116);

// secciones

// navbar
$fondo-navbar: rgb(221, 181, 181);
$texto-navbar: yellow;

//header
$fondo-header: rgb(243, 234, 234);
$texto-header: orange;

// testimonial
$fondo-testimonial: rgb(192, 188, 188);
$texto-testimonial: green;

// section one
$fondo-sectionOne: lime;
$texto-sectionOne: purple;

// section two
$fondo-sectionTwo: aqua;
$texto-sectionTwo: brown;

// footer
$fondo-footer: blue;
$texto-footer: black;




